
@font-face {
    font-family: 'Amperzand';
    src: url('C:\Users\Wendeel\OneDrive - MSFT\Desktop\curso front-end (pi)\css-main\css-main\src\_fonts\Amperzand.woff2') format('woff2'),
        url('C:\Users\Wendeel\OneDrive - MSFT\Desktop\curso front-end (pi)\css-main\css-main\src\_fonts\Amperzand.woff') format('woff'),
        url('C:\Users\Wendeel\OneDrive - MSFT\Desktop\curso front-end (pi)\css-main\css-main\src\_fonts\Amperzand.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}